# Innomatics Research Lab
# Data Science Internship
# Candidate Name : Abdul Jaweed
# Feb 2023 Batch

## Task -1 (Basics)

# HackerRank Task

# Q1) Say "Hello, World! With Python"

In [2]:
print("Hello, World!")

Hello, World!

# Q2) Python If-Else

In [8]:
n = int(input("Enter the Number : "))

if n%2!=0:
    print("Weird")
elif n%2==0 and n>=2 and n<=5:
    print("Not Weird")
elif n%2==0 and n>=6 and n<=20:
    print("Weird")
else:
    print("Not Weird")

Enter the Number : 5
Weird

# Q3) Arithmetic Operators

In [10]:
a = int(input("Enter the First Number"))
b = int(input("Enter the Second Number"))

print(a+b)
print(a-b)
print(a*b)

Enter the First Number6
Enter the Second Number8
14
-2
48

# Q4) Python: Division

In [11]:
a = int(input("Enter the First Number"))
b = int(input("Enter the Second Number"))

print(a//b)
print(a/b)

Enter the First Number5
Enter the Second Number6
0
0.8333333333333334

# Q5) Loop

In [14]:
n = int(input("Enter the Number"))
m=0
for i in range(m, n):
    print(i**2)

Enter the Number5
0
1
4
9
16

# Q6) Write a function

In [26]:
def is_leap(year):
    leap = False
    
    if year%4==0:
        leap = True
    elif year%100==0:
        leap = False
    elif year%400==0:
        leap = True
    
    return leap

year = int(input("Enter the Year : "))
print(is_leap(year))

Enter the Year : 2004
True

# Q7) Print Function

In [29]:
n = int(input("Enter the Number : "))

for i in range(n):
    print(i+1, end="")

Enter the Number4
1234